{% extends 'ForoApp/base.html' %}

{% load static %}

{% block main %}

<h1>Sobre Mi</h1>

<h2>Me Llamo Franco Kral.</h2>
<h2>Tengo 21 años y soy de Buenos Aires - Berazategui.</h2>
<h2>Estudio en la Universidad Tecnologica Nacional (UTN) de la Plata, la carrera de Ingenieria en Sistemas de Informacion
    y ya estoy cursando mi cuarto año.
    Mi hobbie es armar y reparar computadoras, es algo que me gusta mucho, aunque todavia me falta experiencia.
</h2>
<h2>Me anote a este curso para poder incorporar mis conocimientos teoricos al area de desarrollo y a la vez para poder aprender
    cosas nuevas (las cuales aprendi).
    Creo que Django es una muy buena herramienta, muy practica sobre todo, y estoy muy conforme con lo que vimos a lo largo 
    de este gran curso.
    Espero que la pagina le haya gustado, un saludo enorme.
</h2>
<h1>Muchas Graciass!!!</h1>

{% endblock %}