{% extends "ForoApp/base.html" %}

{% load static %}

{% block main %}


<ul class="class-center"> 
    {% if not posts%}
        <h2 id="posts">No hay post :(</h2>
    {%else%}
    <h1 id="posts"> Posts </h1>
    {%  for post in posts  %}
    <div class="class-center-lista">
        <li> {{post.id}} - {{ post.titulo}}</li><p><img height="128px" src="{{post.image_url}}">
        <a href="{% url 'post-detail' post.id %}" class="btn btn-primary botones-post">Ver Post</a>
             {% if user.is_authenticated and user.id == post.publisher.id %}
                <a href="{% url 'post-update' post.id %}" class="btn btn-primary botones-post">Actualizar</a>
                <a href="{% url 'post-delete' post.id %}" class="btn btn-primary botones-post">Borrar</a>   
             {% endif %}
    </div>
    {% endfor %}
    {% endif %}
</ul>
{% endblock %}